<%- include('./parties/tete.ejs') %>
<h1 id="titre">Bienvenue sur Pixel Espion</h1>
<div id="divBoutonsDirection">
    <a href="/inscription" class="lien">Inscription</a>
    <a href="/connexion" class="lien">Connexion</a>
</div>
<%- include('./parties/pied.ejs') %>
