<%- include('./parties/tete.ejs') %>
<h1 id="titre">Bienvenue sur Pixel Espion</h1>
<div id="divPresentation">
    <h2>Vous en avez assez que vos e-mails restent sans réponse ? Voici la solution !</h2>
    <p>Je m'explique : grâce à ce site, vous pouvez héberger une image à inclure dans vos e-mails.</p>
    <p>Lorsque le destinataire ouvre l’e-mail, l’image est automatiquement téléchargée depuis le site <a href="/limites-projet">(dans la majorité des cas)</a>, vous permettant ainsi de savoir si votre message a bien été lu, directement depuis votre compte.</p>
</div>
<div id="divLien">
    <a href="/inscription" class="lien">Héberger une image</a>
</div>
<%- include('./parties/pied.ejs') %>
