<%- include('./parties/tete.ejs') %>
<main>
    <h1 id="titre">Les limites de ce projet</h1>
    <h2>Récupération de l'image dans un e-mail</h2>
    <p>Selon la boite e-mail utilisée, l'image mise dans l'e-mail n'est pas automatiquement chargée (ce qui empêche de savoir si la personne a lu ou non l'e-mail), c'est par exemple le cas de Mozilla Thunderbird par exemple, il est également possible de le désactiver sur la majorité des messageries. Par exemple, pour Gmail, il faut aller dans Paramètres et cocher la case : " Demander confirmation avant d'afficher des images externes".</p>
    <h2>Savoir qui accède à l'image</h2>
    <p>Cette deuxième limite est moins importante, mais elle reste "contraignante" selon moi, le développeur du site. C'est de ne pas pouvoir savoir qui charge l'image (si c'est la personne qui a hébergé l'image ou si c'est le destinataire).</p>
</main>
<%- include('./parties/pied.ejs') %>
