<footer>
    <p>Site réalisé pendant par Eloi B.</p>
</footer>
<script src="/public/js/general.js"></script>
<% if(script !="") {%>
    <script src="/public/js/<%= script %>.js"></script>
<% } %>
</body>
</html>