* {
    margin: 0;
    padding: 0;
}
#titre {
    text-align: center;
    margin-bottom: 10px;
}
.lien {
    color: white;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
}
/* Gestion du tableau des images */
#tableauImages {
    width: 75%;
    text-align: center;
}
/* #tableauImages {
    border-collapse: collapse;
    text-align: center;
    width: 60%;
    margin: 10px auto 0 auto;

    tr,
    td,
    th {
        border: 1px solid #000000;
    }
} */
/* Fin de gestion du tableau des images */
