#divBoutonAjouterElement {
    display: flex;
    justify-content: center;
}
/* Gestion du formulaire d'ajout d'image */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline-block;
    width: 139px;
    text-align: right;
    margin: 10px;
}

input {
    height: 21px;
    text-align: left;
    padding: 1px;
}
/* Fin de la gestion du form */
/* Gestion du tableau */
table {
    width: 60%;
    margin: 0 auto;
}
table img {
    width: 50px;
}

table td {
    text-align: center;
    padding: 5px;
}
td a {
    text-decoration: underline;
    cursor: pointer;
}